{% load static %}

<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110484024-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-110484024-2');
    </script>

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    {% block meta %}
    <meta name="description" content="OGEM Planner helps you quickly narrow the universities you want to go on exchange by simply telling us what modules you would like to clear.">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SITE-WIDE CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    
    <!-- PAGE-SPECIFIC CSS -->
    {% block css %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

<!-- SITE-WIDE JAVASCRIPT -->
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>

<!-- PAGE-SPECIFIC JAVASCRIPT -->
{% block js %}
{% endblock %}

</html>