{% extends 'web/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
            <h1 class="title">
                {{ host_uni.name }}
            </h1>
            <h5 class="subtitle">
                University Information
            </h5>
                </div>
            </div>

            <br>
            <table class="table is-narrow is-striped is-hoverable">
                <thead>
                    <tr>
                        <th><abbr title="Number">#</abbr></th>
                        <th><abbr title="NTU Course Code">NTU Course</abbr></th>
                        <th><abbr title="NTU Course Title">NTU Title</abbr></th>
                        <th><abbr title="Host Course Code">Host Course</abbr></th>
                        <th><abbr title="Host Course Title">Host Title</abbr></th>
                        <th><abbr title="Sem Last Offered">SLO</abbr></th>
                        <th><abbr title="Status">Status</abbr></th>
                        <th><abbr title="Last Updated">LU</abbr></th>
                        <th><abbr title="Validity">Validity</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    {% for match in matches %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ match.ntu_course.code }}</td>
                        <td>{{ match.ntu_course.title }}</td>
                        <td>{{ match.host_course.code }}</td>
                        <td>{{ match.host_course.title }}</td>
                        <td>{{ match.sem_last_offered }}</td>
                        <td>{{ match.status}}</td>
                        <td>{{ match.last_updated }}</td>
                        <td>{{ match.total_clearable }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}