{% extends 'web/base.html' %}
{% load static %}

{% block title %}
About | OGEM Planner
{% endblock %}

{% block body %}
<section class="hero is-info is-medium is-fullheight is-bold">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'index' %}">
                        <h1 class="title">
                            OGEM Planner
                        </h1>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{% url 'index' %}">
                            Home
                        </a>
                        <a class="navbar-item" href="{% url 'about' %}">
                            About
                        </a>
                        <span class="navbar-item">
                            <a class="button is-light" href="https://github.com/loozhengyuan/ogem-planner">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>View on Github</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half">
                    <h1 class="title">
                        About
                    </h1>
                    <p class="is-large is-light">
                        This project was created to help fellow NBS students to find host universities that matches the
                        modules they want to clear on exchange, something that is lacking in NBS exchange site. The
                        database is updated daily to keep in sync with NBS's site.
                        <br><br>
                        This site takes no responsibility for any repercussions as a result of relying on any
                        information of this site. Please double-check with NBS Exchange site to make sure.
                        <br><br>
                        This tool is still very very new, so pardon the bugs. If you do encounter any, please feel free
                        to to create an issue in the Github repo.
                        <br><br>
                        Thanks!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}